.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-section {
  border-bottom: solid 2px #f1f1f1;

  & article {
    margin-block: 1rem;
    margin-left: 20px;
    border-left: thin solid;
    padding-left: 10px;
    width: fit-content;
  }
}
